@import '~bootstrap/scss/bootstrap.scss';
$fa-font-path: './webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';
@import './variables.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.font-diff{
    font-family: 'Times New Roman', Times, serif;
}

a{
    text-decoration: none;
    color: $link;
}

button{
    border: 0;
    background-color: $button;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
}

button:hover{
    background-color: $link;
}

.journey:hover{
    background-color: $hero-back;
    border-radius: 20px;
    cursor: pointer;
}

section{
    width: 70%;
    margin: 60px auto;
}

.dropdown{
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   perspective: 1000px;
   z-index: 100;

   &:hover .dropdown_menu li{
    display: block
   }
}

.dropdown_menu{
    position: absolute;
   top: 100%;
   left: 0;
   width: 150px;
   perspective: 1000px;
   
   z-index: -1;
   background-color: $color-footer;

   li{
       text-align: center;
       margin-right: 20px;
       margin-top: 10px;
    font-size: small;
    display: none;
    opacity: 0;
    border-bottom: 2px solid transparent;
   }

   li:hover{
       border-bottom: 2px solid $button;
   }
}

.dropdown:hover .dropdown_menu--animated{
    display: block
}

.dropdown_menu--animated{
    display: none;

    li{
        display: block;
      opacity: 1
    }
}

.dropdown_menu-6{
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center
}

@keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    80% {
        transform: scaleY(1.1)
    }
    100% {
        transform: scaleY(1)
    }
}