@import '~bootstrap/scss/bootstrap.scss';
$fa-font-path: './webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';
@import './variables.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.font-diff{
    font-family: 'Times New Roman', Times, serif;
}

a{
    text-decoration: none;
    color: $link;
}

button{
    border: 0;
    background-color: $button;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
}

section{
    width: 70%;
    margin: 60px auto;
}